body {
width: 100%;
height: 100%;
margin: 0 auto;
background-color: #8b8b8b;
}

ul {
 padding: 0px!important; 
}

.menu-principal {
width: 100%;
background-color: #000;
height: 60px;
}

main, .content {
margin: 0 auto;
width: 980px;
position: relative;
}

.logo {
float: left;
padding: 5px;
width: 70%;
}

.entrar ul li{
color: aqua;
margin-left: 20px;
display: inline-block;
float: left;
list-style: none;
}

.entrar {
width: 25%;
float: right;
padding: 8px;
}

.header-2 {
background-color: #ffffff;
width: 100%;
margin: 0 auto;
padding: 1px;
position: relative;
}

.menu-urls {
height: 45px;
border-bottom: 3px solid #efefef;
}

.menu ul li {
display: inline-block;
color: #8b8b8b;
margin-left: 15px;
height: 28px;
}
    
.menu ul li:hover {
border-bottom: 3px solid #00bac6;
}
    
.menu ul li a:hover {
color: #00bac6;
}
    
.menu ul li a {
color: #e6e6e6;
text-decoration: none;
font-size: 13px;
text-transform: uppercase;
}

.menu {
width: 70%;
float: left;
}

.campeonatos ul li{
color: aqua;
margin-left: 20px;
display: inline-block;
float: left;
list-style: none;
}
 
.campeonatos {
width: 25%;
float: right;
}
        